<div class="d-flex justify-content-start w-100">
    <a href="/profile" class="back-btn mt-3" type="button"> &#60; Back to Profile</a>
</div>
<div class="card add-listing-card">
    <div class="card-header d-flex justify-content-center">
        <h4 class="title my-auto">My New Listing</h4>
    </div>
    <div class="card-body">
        <form class="form d-flex flex-column">
            <div class="row d-flex flex-row justify-content-evenly">
                <div class="listing-img col-md-4 my-auto d-flex flex-column justify-content-center">
                    <label for="listing-img">Upload listing picture</label>
                    <input type="file" id="listing-img" name="listing-img" required/>
                </div>

                <div class="col-md-8">
                    <label for="listing-title">Title</label>
                    <input class="input col-md-12 mb-3" type="text" id="listing-title" name="listing-title" placeholder="Enter listing title"/>

                    <div class="listing-detail mb-3 d-flex justify-content-between">
                        <label for="listing-price" class="my-auto">Price</label>
                        <input class="input col-md-3" type="text" id="listing-price" name="listing-price" placeholder="Enter listing price"/>

                        <label for="listing-category" class="my-auto">Category</label>
                        <select name="listing-category" id="listing-category col-md-3">
                            <option value="Bathroom">Bathroom</option>
                            <option value="Bedroom">Bedroom</option>
                            <option value="Kitchen">Kitchen</option>
                            <option value="Office">Office</option>
                            <option value="Outdoor">Outdoor</option>
                        </select>

                        <label for="listing-condition" class="my-auto">Category</label>
                        <select name="listing-condition" id="listing-condition col-md-3">
                            <option value="New">New</option>
                            <option value="Like-New">Like-New</option>
                            <option value="Good">Good</option>
                            <option value="Fair">Fair</option>
                        </select>
                    </div>

                    <div class="mt-3">
                        <label for="listing-content">Content</label>
                        <textarea class="input w-100" type="text" id="listing-content" name="listing-content" placeholder="Enter listing content" rows="6"></textarea>
                    </div>
                </div>
            </div>
            <div class="user-options row justify-content-center">
                <button type="submit" class="button col-md-5 mt-3 mb-2">+ Add</button>
            </div>
        </form>
    </div>
</div>  

{{!-- <script src="/js/addListing.js"></script> --}}
