<div>
    <h3 class="my-4 mb-0">Home</h3>
</div>

{{!-- Render the listings if they exist in the database --}}  
{{#if listings.length}}
    {{#each listings as |listing|}}
        {{!-- TODO: Wrap each listing in <a>, which links to homeRoute get by id, so the user can click to expand it --}}
        {{> renderListing listing}}
    {{/each}}
{{else}}
    <div>
        <h5  class="my-5">No listings to show!</h5>
    </div>
{{/if}}
