<div>
    <h3 class="my-4">My Profile</h3>
</div>

{{!-- Render the listings if they exist in the database --}}
<a href="/profile/addListing"><button id="add-listing-btn" class="button">+ New Listing</button></a>

{{#if listings.length}}
    <div class="container">
        {{#each listings as |listing|}}
            {{!-- TODO: Wrap each post in <a>, which links to dashboard route get post by id, so the user can click to expand it --}}
            {{> renderListing listing}}
        {{/each}}
    </div>
{{else}}
    <div>
        <h5 class="my-5">You don't have any listings yet! Click the "New Listing" button to get started.</h5>
    </div>
{{/if}}