:root {
    --primary: #3d674e;
    --secondary: #3d5667;
    --quatrinary: #d1d8d9;
    --light: #e3e4e3;
    --dark: #39393d;
    --dark-secondary: #6b6865;
    --error: rgb(228, 46, 1);
    --border-radius: 0.3rem;
  }
  
  body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: var(--quatrinary);
  }

  footer {
    height: 70px;
    width: 100%;
    margin-top: 20px;
    background-color: var(--primary);
  }
  
  a {
    color: var(--dark);
    text-decoration: none;
  }
  
  a:visited {
    color: inherit;
  }
  
  header {
    padding: 10px;
    text-align: center;
    background: var(--primary);
    color: var(--light);
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
  }
  
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbar-item {
    padding: 12px;
    margin: 5px;
    text-decoration: none;
    text-align: center;
    background-color: var(--secondary);
    color: var(--light);
  }
  
  nav a:hover {
    color: var(--dark);
    background-color: var(--light);
  }
  
  footer {
    width: 100%;
    height: 30px;
  }
  
  /* CARDS */
  .card {
    margin: 20px;
    flex: 0 1 auto;
    border: 7px double var(--dark);
    border-radius: 10px;
    background-color: var(--light);
    color: var(--dark);
    width: 70%;
  }
  
  .comment-card,
  .new-comment-card {
    margin: 12px;
    flex: 0 1 auto;
    border: 7px double var(--dark);
    border-radius: 10px;
    background-color: var(--light);
    color: var(--dark);
    width: 60%;
  }
  
  .login-card,
  .signup-card {
    width: 40%;
  }
  
  #signup-option {
    color: var();
  }
  
  #signup-option:hover {
    color: var();
  }
  
  .card-header {
    color: var(--light);
    margin: 0%;
    padding: 15px 15px;
    background-color: var(--primary);
    border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
    text-align: left;
  }
  
  .card-body {
    padding: 15px 15px;
    font-size: 1rem;
    text-align: left;
    overflow-y: scroll;
  }

  .listing-img {
    width: 250px;
    height: 250px;
  }

  .listing-img img {
    width: 100%;
    height: 100%;
    border: 3px solid var(--secondary);
  }
  
  .user-info {
    font-size: 0.8rem;
    text-align: right;
    color: var(--light);
  }
  
  .user-options button:hover {
    background-color: var(--dark);
    color: var(--light);
  }
  
  /* LAYOUT */
  .container {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
  }

  /* TEXT */
  .is-dark-text { 
    color: var(--dark);
  }

  .is-light-text {
    color: var(--light);
  }
  